<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), 
html: {class: "nice"}) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :name %><br />
  <%= f.text_field :name, class: 'input-text' %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, class: 'input-text' %></div>
  
  <div><%= f.label :password %><br />
  <%= f.password_field :password, class: 'input-text' %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: 'input-text' %></div>

  <div><%= f.submit "Sign up", class: 'medium nice blue radius button' %></div>
<% end %>

<%= render "links" %>
