<%= form_for(@flight, html: {class: "nice"}) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :departure %><br />
    <%= f.text_field :departure, class: 'input-text' %>
  </div>
  <div class="datetime optional">
        <%= f.label :departure_time %><br />
        <%= f.datetime_select :departure_time %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.text_field :arrival, class: 'input-text' %>
  </div>
  <div class="datetime optional">
    <%= f.label :arrival_time %><br />
    <%= f.datetime_select :arrival_time %>
  </div>
  <div class="field">
    <%= f.label "Is this an international flight?" %>
    <div class = "custom checkbox">
       <%= f.check_box :isinter %> 
    </div>
  </div>
  <div class="field">
    <%= f.label :passenger %>
    <%= f.collection_select :passenger_id, currentHouse.passenger, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit class: 'medium nice blue radius button' %>
  </div>
<% end %>
