<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :departure %><br />
    <%= f.text_field :departure %>
  </div>
  <div class="field">
    <%= f.label :departuredate %><br />
    <%= f.datetime_select :departuredate %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.text_field :arrival %>
  </div>
  <div class="field">
    <%= f.label :arrivaldate %><br />
    <%= f.datetime_select :arrivaldate %>
  </div>
  <div class="field">
    <%= f.label :passengers %><br />
    <%= f.text_field :passengers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
