<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @passenger.name %>
</p>

<p>
  <b>Email:</b>
  <%= @passenger.email %>
</p>


<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Back', passengers_path %>
