<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @passenger.name %>
</p>

<p>
  <b>Email:</b>
  <%= @passenger.email %>
</p>

<p>
  <b>Luggages:</b>
    <% @passenger.luggage.each do |luggage| %>
        <%= link_to luggage.description, luggage %>
        <%= ", " unless luggage == @passenger.luggage.last %>
        <% end %>
    <%= button_to "Create new Luggage", new_luggage_path, class: 'small nice blue radius button', :method => :get %>
</p>

<p>
  <b>Flights:</b>
    <% @passenger.flight.each do |flight| %>
        <%= link_to flight.departure, flight %>
        <%= ", " unless flight == @passenger.flight.last %>
        <% end %>
    <%= button_to "Create new Flight", new_flight_path, class: 'small nice blue radius button', :method => :get %>
</p>


<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Back', passengers_path %>
