<%= form_for(@luggage, html: {class: "nice"}) do |f| %>
  <% if @luggage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@luggage.errors.count, "error") %> prohibited this luggage from being saved:</h2>

      <ul>
      <% @luggage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, class: 'input-text' %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight, class: 'input-text' %>
  </div>
  <div class="radio optional">
    <%= f.label :sizetype, "Type: Carry-on" %>
    <%= f.radio_button(:sizetype, "Carry-on") %>
    <%= f.label :sizetype, "Regular" %>
    <%= f.radio_button(:sizetype, "Regular") %>
  </div>
  <div class="field">
    <%= f.label :passenger %>
    <%= f.collection_select :passenger_id, Passenger.all, :id, :name %>
    <%= link_to "or click here to create a new passenger.", new_passenger_path %>
  </div>
  <div class="actions">
    <%= f.submit class: 'medium nice blue radius button' %>
  </div>
<% end %>
