<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @luggage.description %>
</p>

<p>
  <b>Weight:</b>
  <%= @luggage.weight %>
</p>

<p>
  <b>Type:</b>
  <%= @luggage.type %>
</p>

<p>
  <b>Passenger:</b>
  <%= @luggage.passenger.name %>
</p>


<%= link_to 'Edit', edit_luggage_path(@luggage) %> |
<%= link_to 'Back', luggages_path %>
