<!DOCTYPE html>
<html>
<head>
  <title>Travel Recorder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "container"> 
    <%= yield %>
    <% if passenger_signed_in? %>
    
    <br /><%= "Logged in as "%>
    <%= link_to current_passenger.name, current_passenger %><br />
    <%= link_to 'Logout', destroy_passenger_session_path, method: :delete, class: 'small nice red radius button' %>
    <% end %>
</div>


</body>
</html>
