<!DOCTYPE html>
<html>
<head>
  <title>Travel Recorder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "container"> 
    <% if passenger_signed_in? %>
   <div class="row">
      <div class="ten columns">
        <%= yield %>
      </div>
      <div class="two columns">
           <br /><%= "Logged in as: "%><br />
    <%= link_to current_passenger.name, current_passenger %><br />
    <%= link_to 'Logout', destroy_passenger_session_path, method: :delete, class: 'small nice red radius button' %>
    <% end %>
      </div>
    </div>
</div>


</body>
</html>
