<!DOCTYPE html>
<html>
<head>
  <title>Travel Recorder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "container"> 
    <%= yield %>
    <% if passenger_signed_in? %>
    <%= link_to 'Logout', destory_passenger_session_path, method: :delete %>
    <% end %>
</div>


</body>
</html>
